<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>인덱스 화면 입니다.</h1>
<th:if test="${userId eq null}">
    <a href="https://kauth.kakao.com/oauth/authorize
            ?client_id=b5f85af25d1bdf961d4f2016bafe3c6e
            &redirect_uri=http://localhost:8000/login
            &response_type=code">
        <img src="/img/kakao_account_login_btn_medium_wide_ov.png">
    </a>
</th:if>
<th:if test="${userId ne null}">
    <h1>로그인 성공입니다</h1>
    <h2 th:text="${session.nickname}"></h2>
    <input type="button" value="로그아웃" onclick="location.href='/logout'">
</th:if>
</body>
</html>