<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:if test="${userId eq null}">
    <a href="https://kauth.kakao.com/oauth/logout?client_id=aae56b5a75ed41619c033ab689aea475&logout_redirect_uri=http://localhost:8080/login">로그아웃</a>
    </a>
</th:if>
<th:if test="${userId ne null}">
    <h1>로그인 성공입니다</h1>
    <h2 th:text="${session.nickname}">님 안녕하세요</h2>
    <h2 th:text="${session.email}"></h2>
    <h2 th:text="${session.age_range}"></h2>


</th:if>
</body>
</html>
